@import "tailwindcss";

:root {
  --background: #F6F1E7;
  --foreground: #1A1A1A;
  --cocoa: #52392C;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #F3EDE2;
}
::-webkit-scrollbar-thumb {
  background: #C4A484;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A68A6D;
}